.navigation{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.navigation__container{
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1250px) {
    .navigation__container {
        max-width: 975px; 
    }
}
@media (max-width: 1050px) {
    .navigation__container {
        max-width: 700px; 
    }
}
.navigation__left li{
    display: inline-block;
    margin-right: 10px;
}
.navigation__left ul li{
    position: relative;
}
.navigation__left a{
    text-decoration: none;
    color: black;
}
.navigation__city-menu{
    display: none;
    width: 140px;
    position: absolute;
    top: 100%;
}
.navigation__city-option{
    line-height: 15px;
}
.navigation__city:hover .navigation__city-menu {
    display: block;
    background-color: rgba(207, 207, 207, 0.932);
    border-radius: 0px 5px 5px;
    padding: 5px;
    z-index: 20; 
}
.navigation__city-menu a:hover {
    background-color: #ffffff;
    border-radius: 2px;
}


.navigation__dropdown button {
    background-color: rgb(42, 42, 226);
    color: white;
    border: 1px solid transparent; /* Устанавливаем прозрачный бордер */
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
}
.navigation__dropdown-menu a:hover{
    text-decoration: underline;
}
.navigation__dropdown button:hover{
    color: #000000;
    background-color: white;
    border: 1px solid black;
    transition: all 0.2s ease-in;
}
@media (min-width: 1050px) {
    .navigation__dropdown button{
        display: none; 
    }
    
    .navigation__menu li {
        display: inline-block; 
    }
}

@media(max-width: 1050px){
    .navigation__dropdown-menu{
        display: none;
    }
    .navigation__dropdown button{
        display: block;
    }
    
    .navigation__dropdown-menu {
        display: none;
        width: 110px;
        position: absolute;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        list-style-type: none;
        padding: 10px;
        z-index: 10; 
    }
}

.navigation__right{
    display: flex;
    justify-content: right;
}
.navigation__right-search{
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid grey;
}
.navigation__search-img, .navigation__basket-img, .navigation__account-img{
    width: 20px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
