
.comment-form{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comment-textarea{
    height: 50px;
    font-size: 14px;
    padding: 10px;
}
.comment-button,
.comment-delete-button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: rgb(42, 42, 226);
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
}
.comment-button:hover,
.comment-delete-button:hover{
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3)
}
.comment-button:active{
    color: #000000;
    background-color: white;
    border: 1px solid black;
}
.comment-item{
    margin-top: 10px;
    margin-bottom: 10px;
}
.comment-date{
    font-size: 14px;
    color: gray;
}
.comment-text{
    margin-top: 2px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: bisque;
}