.basket{
    display: flex;
}
.basket__table{
    border-collapse: collapse;
}
.basket__table th,
.basket__table td {
    border: 1px solid #ccc; /* Граница для ячеек */
    text-align: center; /* Горизонтальное выравнивание по центру */
    vertical-align: middle; /* Вертикальное выравнивание по центру */
    padding: 10px; /* Отступы внутри ячеек для лучшего вида */
}
.table-img{
    width: 150px;
}
.table-name{
    width: 300px;
}
.table-price{
    width: 100px;
}