.close-orderRegistration {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-orderRegistration:hover,
.close-orderRegistration:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.your-order{
    margin-top: 10px;
}
.order-list{
    border: 1px solid rgb(42, 42, 226);
    border-radius: 5px;
    padding: 5px;
}
.order-list li{
    padding-top: 5px;
    list-style: none;
}
.total-price{
    padding: 5px;
}
.orderRegistrationForm{
    display: flex;
    flex-direction: column;
}
.orderRegistrationForm input,
.orderRegistrationForm select{
    padding: 5px;
    width: 50%;

}
.orderRegistrationForm label{
    margin-top: 5px;
    padding: 5px;
    width: 50%;

}
.delivery-address{
    padding: 5px;
}
.order-button{
    width: 50%;
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(42, 42, 226);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.message-box {
    position: fixed;
    top: 140px;
    right: 20px;
    padding: 10px 20px;
    background-color: #28a745; /* Зеленый цвет для успешного сообщения */
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}