.carousel{
    position: relative;
    width: 100%;
    height: 250px;
    max-width: 1170px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
@media(max-width: 1250px){
    .carousel{
        height: 200px;
    }
}
.carousel__container {
    display: flex;
    transition: transform 0.9s ease;
}
.carousel a{
    text-decoration: none;
}
.carousel__item {
    min-width: 100%; 
    box-sizing: border-box;
    height: 250px;
}
@media(max-width: 1250px){
    .carousel__item{
        height: 200px;
    }
}
.carousel__block-1,
.carousel__block-2,
.carousel__block-3 {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
}
@media(max-width: 1250px){
    .carousel__block-1,
    .carousel__block-2,
    .carousel__block-3{
        height: 200px;
    }
}
.carousel__block-1{
    background-color: #000000;
    color: white;
}
.carousel__block-2{
    color: #000000;
}
.carousel__block-3{
    background-color: rgb(42, 42, 226);
    color: rgb(255, 255, 255);
}
.carousel__block-1 img,
.carousel__block-2 img,
.carousel__block-3 img {
    width: 100px;
    height: auto;
    margin-top: 10px;
}
@media(max-width: 1250px){
    .carousel__block-1 img,
    .carousel__block-2 img,
    .carousel__block-3 img{
        width: 70px;
    }
}
.carousel__indicators {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel__indicator {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel__indicator--active {
    background-color: #333;
}