.services-block{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media(max-width: 1250px){
    .services-block{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media(max-width: 1050px){
    .services-block{
        flex-direction: column;
    }
}
.services-block a{
    text-decoration: none;
}
.services-block__delivery{
    width: 470px;
    border: 1px solid rgb(42, 42, 226);
    border-radius: 10px;
    transition: transform 0.3s ease;
}
@media(max-width: 1250px){
    .services-block__delivery{
        width: 390px;
    }
}
@media(max-width: 1050px){
    .services-block__delivery{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }
}
.services-block__delivery:hover {
    transform: scale(1.03);
}
.services-block__delivery-text{
    padding: 20px;
}
@media(max-width: 1250px){
    .services-block__delivery-text{
        padding: 15px;
    }
}
.services-block__delivery-text h1{
    padding-bottom: 10px;
    font-size: 35px;
    color: rgb(42, 42, 226);
}
.services-block__delivery-text p{
    padding-top: 5px;
    color: black;
}
.services-block__delivery-info{
    display: flex;
    font-weight: bold;
}
.services-block__delivery-info img{
    width: 25px;
    margin-right: 5px;
}
.services-block__install{
    width: 470px;
    background-color: #EFAA59;
    border-radius: 10px;
}
@media(max-width: 1250px){
    .services-block__install{
        width: 390px;
    }
}
@media(max-width: 1050px){
    .services-block__install{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: transform 0.3s ease;
    }
    .services-block__install:hover {
        transform: scale(1.03);
    }
}
.services-block__install-text{
    padding: 20px;
}
@media(max-width: 1250px){
    .services-block__install-text{
        padding: 15px;
    }
}
.services-block__install h1{
    padding-bottom: 10px;
    color: #ffffff;
}
.services-block__install p{
    padding-top: 5px;
}
.services-block__install a{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 5px;
    width: 190px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 15px;
    color: rgb(42, 42, 226);
    transition: transform 0.3s ease;
}
.services-block__install a:hover{
    transform: scale(1.03);
}